{% extends "base.html" %}
{% block content %}

<style>
  tr
  {
    line-height: 15px;
  }
</style>

<script>
//   function checkAll(ele) {
//      var checkboxes = document.getElementsByTagName('input');
//      if (ele.checked) {
//          for (var i = 0; i < checkboxes.length; i++) {
//              if (checkboxes[i].type == 'checkbox') {
//                  checkboxes[i].checked = true;
//              }
//          }
//      } else {
//          for (var i = 0; i < checkboxes.length; i++) {
//              console.log(i)
//              if (checkboxes[i].type == 'checkbox') {
//                  checkboxes[i].checked = false;
//              }
//          }
//      }
//  }

  

    $(document).ready(function()
    {
        document.getElementById("txtDisplay").style.display="block";
        $('.chkbox').click(function()
        {
            var selectedValue = "";
            var myArray = [];
            $('.chkbox:checked').each(function()
            {
                selectedValue += $(this).val()+",";
                myArray.push(selectedValue)
            });
            selectedValue = selectedValue.substring(0,selectedValue.length-1);
            $('#txtDisplay').val(selectedValue);
            console.log(selectedValue)
            
        });
 
    });
</script>



<div class="container">
  <form name="myForm" id="myForms" action="" method="POST">{% csrf_token %}
  <!-- Detail of bills -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">  
        <div class="card">
          <div class="card-header">
            <h5 style="color: blue;">{{patient.first_name}} {{patient.last_name}} <small>|| {{patient.id}}</small></h5>
          </div>
          <div class="col-md-12">
            <div id="extraControls" class="hidden">
              <table id="myTable" class="table" name="myTable" width="100%">
                <thead>
                  <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Date</th>
                    <th scope="col">Service</th>
                    <th scope="col">Unit Price</th>
                    <th width="50" scope="col">Qty</th>
                    <th style="text-align:right" scope="col">Sub_Total</th>
                    <td><INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" /><b> Select All</b> </td>
                  </tr>
                </thead>
                  {% for lab in lab_bills|slice:":1" %}
                  <td style="background-color: lightgray;">LAB Services</td>
                  {% endfor %}
                  {% for lab in lab_bills %}
                    <tr>
                      <td></td>
                      <td>{{ lab.lab_request.test.date_created }}</td>
                      <td>{{ lab.lab_request.test.title }}</td>
                      <td style="text-align:right">N{{ lab.lab_request.test.price }}</td>
                      <td style="text-align:center">1</td>
                      <td style="text-align:right">N{{ lab.lab_request.test.price }}</td>
                      <td><input style="text-align:center" type="checkbox" checked value="{{ lab.id }}" class="chkbox" name="check_list"></td>         
                    </tr>
                  {% endfor %}
                  {% for services_bill in services_bills|slice:":1" %}
                    <td style="background-color: lightgray;">Medical Services</td>
                  {% endfor %}
                  {% for services_bill in services_bills %}
                    <tr>
                      <td></td>
                      <td>{{ services_bill.medical_service.date }}</td>
                      <td>{{ services_bill.medical_service.medical_service }}</td>
                      <td style="text-align:right">N{{ services_bill.medical_service.medical_service.price }}</td>
                      <td style="text-align:center">{{ services_bill.medical_service.unit }}</td>
                      <td style="text-align:right">N{{ services_bill.medical_service.subtotal }}</td>
                      <td><input style="text-align:center" type="checkbox" checked value="{{ services_bill.id }}" class="chkbox" name="check_list"></td>         
                    </tr>
                  {% endfor %}
                  {% for rad in radiology_bills|slice:":1" %}
                    <td style="background-color: lightgray;">Radiology Services</td>
                  {% endfor %}
                  {% for rad in radiology_bills %}
                    <tr>
                      <td></td>
                      <td>{{ rad.date_created }}</td>
                      <td>{{ rad.radiology_service }}</td>
                      <td style="text-align:right">N{{ rad.radiology_service.radiology_service.price }}</td>
                      <td style="text-align:center">{{ rad.radiology_service.unit }}</td>
                      <td style="text-align:right">N{{ rad.radiology_service.subtotal }}</td>
                      <td><input style="text-align:center" type="checkbox" checked value="{{ rad.id }}" class="chkbox" name="check_list"></td>           
                    </tr>
                  {% endfor %}
                  <tr>
                    <td><b>Total Bill</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;"><b>N{{ total_bill }}0</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>Outstanding bill</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="color: red; text-align: right;"><b>N{{ outstanding_bills }}0</b></td>
                    <td></td>
                  </tr>           
              </table>
              Pay Now:<input style="text-align:right; float: right;" type="number" name="paid_amount" placeholder="N{{ pay_now }}0">
            </div>
          </div>
          <hr>
          <input type="text" id="txtDisplay" name="bill_ID">
          <center><input type="submit" id="btnRequest" class="btn btn-success" value="Pay"></center>

          </div>
          <div class="card-header">
          
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>

{% endblock %}