{% extends 'base.html' %}
{% block content %}


   
        {% if not ms_os_bill %}
        <center>
            <a href="{% url 'wallet' pid=patient.id %}">
                <button type="button" class="btn btn-success">Load Wallet</button>
            </a>
            <a href="{% url 'pending_bills' pid=patient.id %}">
                <button type="button" class="btn btn-primary">Pay Pending Bills</button>
            </a>
            </div>
          </center>
            <br>
          <center>  
            <h2>No Outstanding bill to offset! </h2>
            <h3>Congratulations!</h3>
          </center>
        {% else %}
    

<div class="container">
    <a href="{% url 'wallet' pid=patient.id %}">
        <button type="button" class="btn btn-success">Load Wallet</button>
    </a>
    <a href="{% url 'pending_bills' pid=patient.id %}">
        <button type="button" class="btn btn-primary">Pay Pending Bills</button>
    </a>
    </div>
    <br>
      
    <div class="container">
      <div class="row">
        <div class="col-sm-12">  
          <div class="card">
            <div class="card-header">
              {% include 'bills/card/temp.html' %}
            </div>
            <div class="col-md-12">
              <div id="extraControls" class="hidden">
                <br>
                <form action="" method="POST">{% csrf_token %}
                    <h4>Details of outstanding bills</h4>
                    {% if ms_os_bill %}
                    1. Consultation bill: {{ ms_os_bill }}
                    {% endif %}
                    <br><br>
                    Pay Now (N)<input class="form-control" type="number" name="amount" id="amount" placeholder="{{ balance_os }}"> <br>
                    <button class="btn btn-success">Offset Bills</button>
                </form>
  
                <div class="card-header">
                </div>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  
</div>

{% endblock %}