{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">  
      <div class="card">
        <div class="card-header">
          <h5>Pending Lab request: <small>Click to view detail </small></h5>
        </div>

        <div class="card-body">
          {% for test in unique_request %}
          
                <a href="{% url 'request_detail' enc_id=test.encounter.id %}" class="btn btn-outline-dark">
                  {{ test.patient }} | {{ test.patient.id }} 
                  {% if test.encounter.current_clinic %}
                    | {{ test.encounter.current_clinic }}
                  {% else %}
                    | {{ test.encounter.current_ward }}
                  {% endif %}
                </a><br>
            
          {% endfor %}
        </div>
        <div class="card-header">
          
        </div>
      </div>
    </div>
    
  </div>
</div>


{% endblock %}