{% extends 'base.html' %}
{% block content %}
<script>
    $(document).ready(function()
    {
        document.getElementById("txtDisplay").style.display="block";
        $('.chkbox').click(function()
        {
            var selectedValue = "";
            var myArray = [];
            $('.chkbox:checked').each(function()
            {
                selectedValue += $(this).val()+",";
                myArray.push(selectedValue)
            });
            selectedValue = selectedValue.substring(0,selectedValue.length-1);
            $('#txtDisplay').val(selectedValue);
            
        });
        // $('#btnRequest').click(function()
        // {
        //     alert("Request Successful!")
        // });
    });
</script>

<h3>Lab Investigations Sheet</h3>
<hr>
<div class="container">
    <form method="POST" action="">{% csrf_token %}
        {{ encounter.patient.first_name }} {{ encounter.patient.last_name }}; {{ encounter.patient.date_of_birth|timesince }}; {{ encounter.patient.gender|capfirst }}
        <input style="float: right;" type="submit" id="btnRequest" class="btn btn-success" value="Request Investigation">
    <hr>
    <div class="row g-3">
        <div class="col-md-4">
            <h4>Microbiology</h4>
            {% for mc in microbiology_tests %}
                <input type="checkbox" value="{{ mc.id }}" class="chkbox"> {{ mc.title }} <br>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4>Chemical Pathology</h4>
            {% for chempath in chem_path_tests %}
                <input type="checkbox" value="{{ chempath.id }}" class="chkbox"> {{ chempath.title }} <br>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4>Hermatology</h4>
            {% for herma in hermatology_tests %}
                <input type="checkbox" value="{{ herma.id }}" class="chkbox"> {{ herma.title }} <br>
            {% endfor %}
        </div>
    </div>
    <input type="text" id="txtDisplay" name="test_id"> 
    <br><br>
    <input type="submit" id="btnRequest" class="btn btn-success" value="Request Investigation">
    </form>
</div>

{% endblock %}
