{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
  {% if messages %} 
  {% for result in messages %} 
   <h3>{{ result }}</h3> 
  {% endfor %}
  {% endif %}
  <!-- <button type="submit">Attach Foto</button> -->
  <button type="submit">
    <a href="{% url 'registration' %}" >
      Attach Foto
    </a>
  </button>
  <!-- Go back button -->
  <button type="submit">
    <a href="{% url 'registration' %}" >
      New Registration
    </a>
  </button>
</div>
{% endblock %}