{% extends 'base.html' %}

{% block content %}

<div style="text-align: center;">
  {% if messages %} 
  {% for result in messages %} 
   <h3>{{ result }}</h3> 
  {% endfor %}
  {% endif %}
  <!-- <button type="submit">Attach Foto</button> -->
  <div>
    <!-- Send to Clinic -->
    <button type="submit">
      <a href="{% url 'create_new_encounter' patient_id=pid %}" >
      Send to Clinic
      </a>
    </button>
    <br>
  </div>
  <button type="submit">
    <a href="{% url 'registration' %}" >
      Attach Foto
    </a>
  </button>
  <!-- Go back button -->
  <button type="submit">
    <a href="{% url 'registration' %}" >
      New Registration
    </a>
  </button>
</div>

{% endblock %}