{% extends "layouts/base.html" %}

{% block title %} Clinics {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="container">
        <div class="row col-md-12">
            <h3>Clinics</h3>
            {% for clinic in clinics %}
                <div class="card" style="width: 15rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                    <h5 class="card-title">{{ clinic.clinic }}</h5>
                    <p class="card-text">Today's Stats</p>
                    <a href="{% url 'clinic_visits_display' id=clinic.id %}" class="btn btn-primary">visit</a>
                    </div>
                </div>&nbsp;
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}