{% extends "layouts/base.html" %}

{% block title %} Patients Display {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    {% for qs in qs|slice:":1" %}   
        <h3>{{ qs.current_clinic.clinic }} Clinic</h3>
    {% endfor %}

    <!-- bootstrapp table -->
    {% if qs.count > 0 %}
      <table class="table table-striped table-hover">
          <thead>
            <tr>
              <!-- <th scope="col">Ecounter</th> -->
              <th scope="col">PID</th>
              <th scope="col">Name</th>
              <th scope="col">Bio-data</th>
              <th scope="col">Actions</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          
          <tbody>
              {% for qs in qs %}            
              <tr>
                  <th scope="row">{{ qs.patient.id }}</th>
                  <!-- <td>{{ qs.id }}</td> -->
                  <td>{{ qs.patient.first_name }} {{ qs.patient.last_name }} {{ qs.patient.other_names }}</td>
                  <td>24yrs, {{ qs.patient.gender|capfirst }}</td>
                  <td><a href="{% url 'take_vital_signs' id=qs.id %}">Take vitals</a></td>
                  <td><a href="{% url 'patient_notes' id=qs.id %}">Notes</a></td>
                  
                  <td><a href="{% url 'transfer_patient' id=qs.id %}">Transfer</a></td>
                  <td><a href="{% url 'discharge_patient' id=qs.id %}">Discharge</a></td>
              </tr>       
              {% endfor %}           
          </tbody>
        </table>
      {% else %}
        <h1>There are no patients in this Clinic currently</h1>
      {% endif %}
    
</div>

{% endblock %}