{% extends "layouts/base.html" %}

{% block title %} Create Brand {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} <br>
<div>
    <h4>Add New Brand</h4>
    <form class="row g-3" action="" method="POST">{% csrf_token %}
        <div class="col-md-4">Select Item Generic: {{ form.item }}</div><br>
        <div class="col-md-8">Title (Brand Name): {{ form.title }}</div>
        <div class="col-md-8">Description (Optional): {{ form.description }}</div><br>
        <div class="col-md-4">Cost Price: {{ form.price }}</div>
        <div class="col-md-4">Selling Price: {{ form.sale_price }}</div>
    
        <div class="col-md-12"><input type="submit" class="btn btn-success", value="submit"></div>
    </form>
</div>

    
{% endblock %}